<app-navbar (dataEvent)="receiveData($event)"></app-navbar>
<div class="container">
  <ul class="image-grid" >
    <li *ngFor="let image of ((!isApiDataLoaded || images.length === 0) ? defaultImages : images)">
      <img [src]="image.src.portrait" alt="Image" />
      <div class="details">
        <div class="photographer">
            <i class="fa fa-camera"></i>
            <span>{{image.photographer}}</span>
        </div>
        <button (click)="downloadImg(image.src.portrait)">Download<i class="fa fa-download"></i></button>
    </div>
    </li>
  </ul>
  <button class="load-more" (click)="loadMoreImages()">load more</button>
</div>
<!--this is first code when i use default condition then i think the code is repeting then i find the solution ((!isApiDataLoaded || images.length === 0) ? defaultImages : images) --> 
<!-- <div class="container" *ngIf="!isApiDataLoaded || images.length === 0">
 <ul class="image-grid" >
    <li *ngFor="let image of defaultImages">
      <img [src]="image.src.portrait" alt="Image" />
      <div class="details">
        <div class="photographer">
            <i class="fa fa-camera"></i>
            <span>{{image.photographer}}</span>
        </div>
        <button (click)="downloadImg(image.src.medium)">Download<i class="fa fa-download"></i></button>
    </div>
    </li>
  </ul>
  <button class="load-more" (click)="loadMoreImages()">load more</button>
</div> -->
<app-footer></app-footer>
